.box{
    background: url('../../assets/img/test.png') 0 / cover fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
   background-size: cover;
   .textBox::before{
       position: absolute;
       left: 0;
       right: 0;
       top: 0;
       bottom: 0;
       content: '';
       margin: -30px;
       background-color: rgba(225,225,225,0.5);
       filter: blur(10px);
   }
    .textBox{
        position: relative;
        font-size: 30px;
        overflow: hidden;
    }
}